* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  text-align: center;
  font-family: "Roboto"; }

html {
  font-size: 50%; }
  @media (min-width: 600px) {
    html {
      font-size: 60%; } }
  @media (min-width: 900px) {
    html {
      font-size: 62.5%; } }

.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 20rem;
  padding: 1.2rem; }
  @media (min-width: 600px) {
    .flex {
      flex-direction: row; } }

.btn {
  text-decoration: none;
  border-radius: .2rem;
  color: #00dfcf;
  border: 1px solid #00dfcf;
  padding: 1rem 1.6rem;
  font-size: 1.8rem;
  font-family: "Hammersmith One";
  text-transform: uppercase;
  position: relative;
  cursor: pointer; }
  .btn:hover {
    color: #00f9e7; }

.wrap {
  width: 1500px; }

.site-logo {
  display: flex;
  justify-content: center; }

.site-logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer; }

.site-logo__img {
  max-width: 100%;
  height: auto; }

.site-logo__text {
  font-size: 20px;
  color: #15b2b6;
  font-family: "Roboto";
  font-weight: 200;
  text-transform: lowercase;
  margin-left: 1rem;
  margin-top: 1rem; }

.site-navigation__list {
  list-style: none; }
  .site-navigation__list :first-child {
    margin-top: 1.2rem; }
  @media (min-width: 600px) {
    .site-navigation__list {
      display: flex;
      position: relative;
      top: 2.2rem; }
      .site-navigation__list :first-child {
        margin-top: 0; } }

.site-navigation__item {
  margin-bottom: 1rem; }

.site-navigation__link {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  cursor: pointer; }
  .site-navigation__link:hover {
    color: #00dfcf; }
  @media (min-width: 600px) {
    .site-navigation__link {
      font-size: 1.2rem;
      margin-right: 1.5rem; } }
  @media (min-width: 900px) {
    .site-navigation__link {
      font-size: 1.5rem;
      margin-right: 1.3rem; } }

.site-navigation__link--active {
  color: #00dfcf; }

.header-wrapper {
  background-color: rgba(57, 45, 97, 0.8); }

.header-conteiner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 1.7rem; }
  @media (min-width: 600px) {
    .header-conteiner {
      flex-direction: row; } }

.intro {
  height: 50rem; }

.intro-conteiner {
  max-width: 120rem;
  margin: 12rem auto 0 auto; }

.intro__heading {
  position: relative;
  font-size: 3rem;
  color: #fff;
  font-family: "Playfair Display";
  font-weight: 900; }
  .intro__heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 5rem;
    height: 1px;
    background-color: #00e0d0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem; }
  @media (min-width: 900px) {
    .intro__heading {
      font-size: 3.5rem; } }

.intro__paragraf {
  font-size: 1.3rem;
  letter-spacing: .2rem;
  line-height: 2.1rem;
  color: #bdbbc0;
  font-family: "Roboto";
  font-weight: 200;
  margin: 2rem; }
  @media (min-width: 900px) {
    .intro__paragraf {
      line-height: 2.8rem;
      margin: 2rem 15rem; } }

.intro-slider {
  position: relative;
  top: 9rem; }
  .intro-slider :first-child {
    background-color: #00dfcf; }
  @media (min-width: 600px) {
    .intro-slider {
      top: 20rem; } }

.intro-slider__circle {
  border: 1px solid #f4f4f6;
  border-radius: 50%;
  margin-right: 1rem;
  width: 12px;
  height: 12px;
  display: inline-block;
  cursor: pointer; }

.intro-btn {
  top: 1.5rem; }
  @media (min-width: 600px) {
    .intro-btn {
      top: 5rem; } }

.our-story-conteiner {
  background-color: #fff; }

.our-story {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  max-width: 90rem;
  margin: 2.5rem; }
  @media (min-width: 600px) {
    .our-story {
      flex-direction: row;
      margin: 3.5rem auto; } }

.our-story__img {
  align-self: center; }

.our-story__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 1.5rem;
  margin-left: 4rem; }

.our-story__heading {
  font-size: 2.2rem;
  font-family: "Playfair Display";
  letter-spacing: .1rem;
  color: #413d4b;
  font-weight: 700;
  text-transform: uppercase; }

.our-story__paragraf {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Roboto";
  font-weight: 300;
  color: #bdbbc0;
  margin-top: 2rem; }

.our-story__btn {
  margin-top: 2rem; }

.team-conteiner {
  background-color: rgba(57, 45, 97, 0.8); }

.team {
  max-width: 90rem;
  margin: 0 auto;
  padding: 8rem 0; }

.team__heading {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1rem; }
  .team__heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 5rem;
    height: 1px;
    background-color: #9f96b2;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem; }

.team__heading-title {
  font-size: 2.2rem;
  font-family: "Playfair Display";
  letter-spacing: .1rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.2rem 0; }

.team__heading-text {
  position: relative;
  font-size: 1.5rem;
  font-family: "Playfair Display";
  font-weight: 300;
  color: #9f96b2; }

.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0; }
  @media (min-width: 600px) {
    .team-members {
      flex-direction: row;
      justify-content: space-evenly; } }

.team-members__card {
  margin-bottom: 3rem;
  width: 20rem; }
  @media (min-width: 600px) {
    .team-members__card {
      width: 22.2%; } }

.team-members__img {
  width: 20rem;
  height: 20rem;
  background-color: #fff; }
  @media (min-width: 600px) {
    .team-members__img {
      width: 100%; } }

.team-members__info {
  height: 8rem;
  width: 20rem;
  border: 0.1rem solid #9f96b2; }
  @media (min-width: 600px) {
    .team-members__info {
      width: 100%; } }

.team-members__name {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
  letter-spacing: .1rem; }

.team-members__job {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 300;
  color: #9f96b2;
  text-transform: uppercase;
  letter-spacing: .1rem; }

.team__paragraf {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 300;
  color: #9f96b2;
  letter-spacing: .1rem; }

.team__btn {
  top: 3.5rem; }

.expertise-conteiner {
  background-color: #fff; }

.expertise {
  max-width: 90rem;
  margin: 0 auto;
  padding: 6rem 0; }

.expertise__heading {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1rem; }
  .expertise__heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 5rem;
    height: 1px;
    background-color: #bdbbc0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem; }

.expertise__heading-title {
  font-size: 2.2rem;
  font-family: "Playfair Display";
  letter-spacing: .1rem;
  color: #413d4b;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.2rem 0; }

.expertise__heading-text {
  position: relative;
  font-size: 1.5rem;
  font-family: "Playfair Display";
  font-weight: 300;
  color: #78777c; }

.expertise-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  margin: 4rem auto; }
  @media (min-width: 600px) {
    .expertise-sections {
      flex-direction: row;
      justify-content: center; } }

.expertise-sections__card {
  width: 45%;
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-right: none; }
  .expertise-sections__card:not(:last-child) {
    border-bottom: 1px solid #bdbbc0; }
  @media (min-width: 600px) {
    .expertise-sections__card {
      width: 35%;
      border-bottom: 1px solid #bdbbc0; }
      .expertise-sections__card:not(:nth-child(3n+3)) {
        border-right: none; }
      .expertise-sections__card:not(:nth-child(2n+2)) {
        border-right: 1px solid #bdbbc0; }
      .expertise-sections__card:nth-last-child(-n+2) {
        border-bottom: none; } }
  @media (min-width: 900px) {
    .expertise-sections__card {
      width: 30%; }
      .expertise-sections__card:not(:nth-child(2n+2)) {
        border-right: none; }
      .expertise-sections__card:not(:nth-child(3n+3)) {
        border-right: 1px solid #bdbbc0; }
      .expertise-sections__card:nth-last-child(-n+3) {
        border-bottom: none; } }

.expertise-sections__icon {
  font-size: 2.5rem;
  margin-bottom: 1rem; }

.transparent--icon {
  background: -webkit-linear-gradient(#01dfd0, #47a5cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.expertise-sections__title {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 900;
  color: #413d4b;
  letter-spacing: .1rem;
  margin-bottom: .8rem;
  text-transform: uppercase; }

.expertise-sections__description {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 300;
  color: #78777c;
  letter-spacing: .1rem;
  position: relative; }

.testimonial-conteiner {
  background-color: rgba(57, 45, 97, 0.8); }

.testimonial {
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 3.5rem; }

.testimonial__comment {
  margin-bottom: 5rem; }

.testimonial__comment-icon {
  font-size: 2.5rem;
  color: #fff; }

.testimonial__comment-paragraf {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-family: "Playfair Display";
  color: #9f96b2;
  margin: 2rem 1rem; }

.testimonial__person-name {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: "Roboto";
  font-size: 1.4rem;
  margin-bottom: 1rem; }

.testimonial__person-job {
  font-family: "Roboto";
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #9f96b2;
  margin-bottom: 3rem; }

.testimonial__slider {
  display: flex;
  justify-content: center; }

.testimonial__slider-icon {
  margin-top: 1.5rem;
  font-size: 2.3rem;
  color: #9f96b2; }

.testimonial__slider-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  margin: 0 0.5rem;
  transition: all 1s; }
  .testimonial__slider-img:hover {
    width: 7rem;
    height: 7rem; }

.contact-section-conteiner {
  background-color: #fff; }

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90rem;
  margin: 6rem auto; }
  @media (min-width: 600px) {
    .contact-section {
      flex-direction: row; } }

.contact-section__contact {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 90%; }

.contact-section__heading {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #413d4b;
  align-self: self-start;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.contact-section__form {
  display: flex;
  align-items: self-end;
  flex-direction: column; }

.contact-section__input {
  border: 1px solid #bdbbc0;
  margin-bottom: 1rem;
  width: 100%;
  padding: 12px 20px; }

.contact-section__textarea {
  width: 100%;
  height: 20rem;
  border: 1px solid #bdbbc0;
  padding: 2rem; }

.contact-section__btn {
  top: 1.7rem;
  padding: 1rem 2.7rem; }

.contact-section__client {
  flex: 1 0 0%; }

.contact-section__client-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  flex-wrap: wrap; }
  @media (min-width: 600px) {
    .contact-section__client-img {
      flex-direction: row;
      justify-content: center;
      margin: 2.5rem auto; } }

.contact-section__client-logo {
  margin: 2.5rem; }
  @media (min-width: 600px) {
    .contact-section__client-logo {
      width: 50%;
      margin: 0;
      padding: 2rem; } }
