.site-logo__link {
  text-decoration: none;
  cursor: pointer;
}

.site-logo__img {
  max-width: 100%;
  height: auto;
}

.site-logo__text {
  font-size: 20px;
  color: $color-logo;
  font-family: $primary-font;
  font-weight: 250;
  text-transform: lowercase;
  position: relative;
  left: .8rem;
  bottom: 1.5rem;
}