
.testimonial-conteiner{
  background-color: $bg-purple;
}

.testimonial{
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem 3.5rem;
}

.testimonial__comment  {
  margin-bottom: 5rem;
}

.testimonial__comment-icon{
    font-size: 2.5rem;
    color:$color-white;  
}

.testimonial__comment-paragraf{
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-family: $heading-font;
  color: $paragraf-color; 
  margin: 2rem 1rem;
}

.testimonial__person-name{
  color: $color-white;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: $primary-font;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.testimonial__person-job{
  font-family: $primary-font;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: $paragraf-color;
  margin-bottom: 3rem;
}

.testimonial__slider{
  display: flex;
  justify-content: center;
}

.testimonial__slider-icon {
  margin-top: 1.5rem;
  font-size: 2.3rem;
  color: $paragraf-color;
}
.testimonial__slider-img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  margin: 0 0.5rem;
  transition: all 1s;

  &:hover{
    width: 7rem;
    height: 7rem; 
    
  }
}
