
body{
  
    text-align: center;
    font-family: $primary-font;
}

html{
    font-size: 50%; // 1rem = 8px;
    
    @include respond(tablet){
        font-size: 60%;
    }

    @include respond (desk){
        font-size: 62.5%;
    }
    
}

.flex{
   display: flex;
   justify-content: space-around;
    flex-direction: column;
    min-height: 20rem;
    padding: 1.2rem;

    @include respond(tablet) {  

       flex-direction: row;
    }   
}

.btn{
    text-decoration: none;
    border-radius: .2rem;
    color: $color-green;
    border: 1px solid $color-green;
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
    font-family: $secondary-font;
    text-transform: uppercase;
    position: relative;
    
    cursor: pointer;

    &:hover{
        color: lighten($color-green, 5%)
    }
    @include respond (tablet){
       top: 5rem;
    }
}
.wrap{
    width: 1500px;
}