//colors

$color-white: #fff;
$color-purple: #392d61;
$color-logo: #15b2b6;
$color-green: #00dfcf;
$color-white-darker: #f4f4f6;
$color-line:#00e0d0;
$bg-purple:rgba($color-purple, 0.8);
$font-purple: #413d4b;
$font-gray-light: #bdbbc0;

//fonts

$primary-font: 'Roboto';
$secondary-font: 'Hammersmith One';
$heading-font: "Playfair Display";
